@font-face {
	font-family: 'TizenSansRegular';
	src: url('../tizenassets/TizenSansRegular.ttf');
}

@font-face {
	font-family: 'TizenSansMedium';
	src: url('../tizenassets/TizenSansMedium.ttf');
}
* {
    font-family: 'TizenSansRegular';
}

/*
rgb(0,0,0) -black
rgb(30,30,30) -dark grey
rgb(17,19,27) -grey
rgb(29,38,60) -greyblue
rgb(49,63,102) -darkblue
rgb(70,76,94) -darkgreyblue
rgb(93,131,255) -light-blue
rgb(43,58,175) -blue
rgb(200,200,200) -lightgrey
rgb(250,250,250) -white
rgb(104,177,7) -green
rgb(203,0,0) - red
*/

body {
	background-color:black;
    margin: 0px auto;
    color:rgb(230,230,230);
}

header h1 {
    font-size: 36px;
    margin: 0px;
    font-family: 'TizenSansMedium';
}

header h2 {
    font-size: 18px;
    margin: 0px;
    color: #888;
    font-style: italic;
}

nav ul {
    list-style: none;
    padding: 0px;
    display: block;
    clear: right;
    background-color: #666;
    padding-left: 4px;
    height: 24px;
}

nav ul li {
    display: inline;
    padding: 0px 20px 5px 10px;
    height: 24px;
    border-right: 1px solid #ccc;
}

nav ul li a {
    color: #EFD3D3;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #fff;
}

article > header h1 {
    font-size: 20px;
    margin-left: 14px;
}

article > header h1 a {
    color: #993333;
}

article > header h1 img {
    vertical-align:middle;
}

article > section header h1 {
    font-size: 16px;
}

article p {
    clear: both;
}

footer p {
    text-align: center;
    font-size: 12px;
    color: #888;
    margin-top: 24px;
}
