<style type="text/css">
#filepickerviewquicktbl {
	border:1px;
	width:100%;
}
</style>
<h2>File Linker</h2>
<p>Links an existing file (Image, Sound, Video, other) from your device to the box for easy reference.</p>
<strong>Select Directory</strong>
<select ng-Change="openDirectory()" ng-Model="targetContentDirectory.id">
<option ng-Repeat="contentEntry in directoryListing" value="{{contentEntry.id}}" ng-Selected="(targetContentDirectory.id == contentEntry.id)">{{contentEntry.title}}</option>
</select><br />
<br />
<strong ng-Show="possibleContent.length">Select File</strong>
<table id="filepickerviewquicktbl">
<tr ng-Repeat="contentEntry in possibleContent">
<td>{{contentEntry.title}}</td><td><button ng-click="linkEntry(contentEntry)">Link &gt;</button></td>
</tr>
</table>