<style type="text/css">
#tbldetails {
	border-spacing:0;
    border-collapse:collapse;
}

#tbldetails td{
	
}

#clientNotesTextArea {
	width:100%;
}
</style>
<button id="personViewBackButton" ng-Click="goBack()">&lt; Stage</button>
<div id="personDetails">

<h3>{{client.fields[0]}} <span style="float:right;"><select ng-Model="client.stageId">
<option ng-Repeat="stage in stages" value="{{stage.stageId}}" ng-Selected="client.stageId == stage.stageId">{{stage.stageName}}</option>
</select></span></h3>

<strong>Details</strong><br />
<table id="tbldetails">
<tr ng-Repeat="field in fields">
	<td style="text-align:right;">{{field.fieldName}}: </td>
	<td><span ng-Hide="field.edit" ng-Click="field.edit=true;">{{client.fields[$index]}}</span>
	<span ng-Show="field.edit"><input type="{{field.fieldType}}" ng-Model="client.fields[$index]" ng-Blur="field.edit = false;"/></span>
	</td>
	<td><button ng-Click="field.edit=true;">Edit</button></td>
</tr>
</table>

<hr />
<strong>Notes</strong><button ng-Click="client.editNote=true;">Edit Note</button><br />
<span ng-Hide="client.editNote" ng-Click="client.editNote=true;">{{client.notes}}</span>
<span ng-Show="client.editNote"><textarea id="clientNotesTextArea" ng-Model="client.notes" ng-Blur="client.editNote = false;"/></textarea></span>

</div>
<div style="bottom:0px;position:fixed;">
<button id="clientDelete" ng-Click="deleteClient()">Delete</button>
</div>