<button id="personViewBackButton">&lt; Stage</button>
<div id="personDetails">
<h3>Name</h3>

<select>
	<option value="" selected>Stage 1</option>
	<option value="" selected>Stage 1</option>
	<option value="" selected>Stage 1</option>
</select>

<h4>Details</h4>
<table>
<tr><td>Field 1</td><td>Value 1</td></tr>
<tr><td>Field 1</td><td>Value 1</td></tr>
<tr><td>Field 1</td><td>Value 1</td></tr>
<tr><td>Field 1</td><td>Value 1</td></tr>
<tr><td>Field 1</td><td>Value 1</td></tr>
</table>

<form>
	<label>New Note</label>
	<textarea></textarea>
</form>

<h4>Notes</h4>

<table>
<tr><td></td></tr>

</table>
</div>