<H2>Setup</H2>


Switch to a Different Flow
<select ng-Model="selectedPipeline" ng-Change="switchPipeline()" ng-Options="p.name for p in pipelines"></select><button ng-Click="gotoStages()">Go</button>

<br />
<hr />
<h3>Current Flow</h3>
<label>Rename <input type="text" id="currentFlowName" ng-Model="newNameForCurrentFlow"></label><button ng-Click="changeFlowName(newNameForCurrentFlow)">Change</button>
<h3>Stages</h3>
<table>
	<tr><td>Stage Name</td><td>Color</td><td>Actions</td></tr>
	<tr ng-repeat="stage in currentPipeline.pipeline.stages">
				<td style="background:{{stage.stageColour}};color:white;">
					<span ng-Hide="stage.editName" ng-Click="stage.editName=true" >{{stage.stageName}}</span>
					<span ng-Show="stage.editName"><input type="text" ng-Model="stage.stageName" ng-Blur="stage.editName=false"/></span>
				</td>
				<td>
					<select ng-Model="stage.stageColour">
						<option ng-Repeat="colour in availableColours" value="{{colour}}" ng-Selected="colour == stage.stageColour">{{colour}}</option>
					</select>
				</td>
				<td>
					<button ng-Click="changeOrder(stage,1)" style="background-image:url('images/br_down_icon&16.png');height:1.5em;width:1.5em;background-repeat:no-repeat;"></button>
					<button ng-Click="changeOrder(stage,-1)"  style="background-image:url('images/br_up_icon&16.png');height:1.5em;width:1.5em;background-repeat:no-repeat;"></button>
					<button ng-Click="deleteStage(stage)"  style="background-image:url('images/delete_icon&16.png');height:1.5em;width:1.5em;background-repeat:no-repeat;"></button>
				</td>
	</tr>
	
	<tr><td><input type="text" ng-Model="newStage.stageName" /></td><td><select ng-Model="newStage.stageColour">
						<option ng-Repeat="colour in availableColours" value="{{colour}}" ng-Selected="colour == stage.stageColour">{{colour}}</option>
					</select></td><td><button ng-Click="addNewStage(newStage)" style="background-image:url('images/sq_plus_icon&24.png');height:2.3em;width:2.2em;background-repeat:no-repeat;"></button></td></tr>
</table>
<h3>Fields</h3>
<table>
<tr><td>Name</td><td>Type</td><td>Summary</td></tr>
<tr ng-Repeat="field in currentPipeline.pipeline.fields">
	<td>
		<span ng-Hide="field.editName" ng-Click="field.editName=true" >{{field.fieldName}}</span>
		<span ng-Show="field.editName"><input type="text" ng-Model="field.fieldName" ng-Blur="field.editName=false"/></span>
	</td>
	<td>
		<select ng-Model="field.fieldType">
			<option ng-Selected="field.fieldType=='text'">Text</option>
			<option ng-Selected="field.fieldType=='number'">#</option>
		</select>
	</td>
	<td>
		<select ng-Model="field.display">
			<option ng-Selected="field.display=='yes'" value="yes">Y</option>
			<option ng-Selected="field.display=='no'" value="no">N</option>
		</select>
	</td>
	<td>
		<button ng-Click="removeField(field)" style="background-image:url('images/delete_icon&16.png');height:1.5em;width:1.5em;background-repeat:no-repeat;"></button>
	</td>
</tr>
<tr><td><input type="text" ng-Model="newField.fieldName" /></td><td>
		<select ng-Model="newField.fieldType">
			<option ng-Selected="field.fieldType=='text'">Text</option>
			<option ng-Selected="field.fieldType=='number'">#</option>
		</select>
	</td><td><button ng-Click="addField(newField)" style="background-image:url('images/sq_plus_icon&24.png');height:2.3em;width:2.2em;background-repeat:no-repeat;"></button></td></tr>
</table>
<hr />
<button ng-Click="deleteFlow()">Delete this Flow</button>

<hr />
<label>New Flow: <input type="text" id="newFlowName" ng-Model="newFlowName"></label><button ng-Click="createNewFlow()" style="background-image:url('images/sq_plus_icon&24.png');height:2.3em;width:2.2em;background-repeat:no-repeat;"></button><br />