<H2>Setup</H2>


Switch to a different Flow<select>
	<option>Sales</option>
	<option>Party</option>	
</select><br />
<hr />
<h3>Current Flow</h3>
<label>Rename <input type="text" id="currentFlowName"></label><button>Change</button>
<h3>Stages</h3>
<table>
	<tr><td>Stage Name</td><td>Color</td><td>Type</td><td>Actions</td></tr>
	<tr><td>Stage 1</td><td> 1</td><td><select><option>Text</option><option>Number</option></select></td><td><button>Up</button><button>Down</button><button>Del</button></td></tr>
	<tr><td>Stage 2</td><td> 2</td><td><select><option>Text</option><option>Number</option></select></td><td><button>Up</button><button>Down</button><button>Del</button></td></tr>
	<tr><td>Stage 3</td><td> 3</td><td><select><option>Text</option><option>Number</option></select></td><td><button>Up</button><button>Down</button><button>Del</button></td></tr>
	<tr><td>Stage 4</td><td> 4</td><td><select><option>Text</option><option>Number</option></select></td><td><button>Up</button><button>Down</button><button>Del</button></td></tr>
	<tr><td><input type="text" id="newStageName" /></td><td>7</td><td><button>Add</button></td></tr>
</table>
<hr />
<label>New Flow: <input type="text" id="newFlowName"></label><button>Add</button><br />
