<style type="text/css">
#stageview {
	border-spacing:0;
    border-collapse:collapse;
}
#stageview td{
	border:1px solid black;
}
#stageview th{
	border:1px solid black;
}
</style>
<button id="stageViewBackButton">&lt; Stages</button>
<table id="stageview" width="100%">
<tr><th>Stage</th>
<th ng-Repeat="field in fields | filter:{display:'yes'}">
{{field.fieldName}}
</th></tr>



<tr ng-Repeat="client in crm | filter:{stageId : selectedStageId}">
<td>
<select ng-Model="client.stageId">
<option ng-Repeat="stage in stages" value="{{stage.stageId}}" ng-Selected="client.stageId == stage.stageId">{{stage.stageName}}</option>
</select>
</td>
<td ng-Repeat="field in client.fields | indexInSet:visibleFieldIndexes" ng-Click="openBox(client.id)">{{field}}</td>
</tr>
</table>