<style type="text/css">
#stagestbl {
	border:0px;width:100%;
}

#stagestbl td {
	cell-padding:0px;
	padding:0px;
	margin:0px;
}

#stagestbl button {
	width:100%;
	padding:0px;
	margin:0px;
}
</style>
<table id="stagestbl">
<tr><td><button class="stageButton">Stage 1</button></td></tr>
<tr><td><button class="stageButton">Stage 1</button></td></tr>
<tr><td><button class="stageButton">Stage 1</button></td></tr>
<tr><td><button class="stageButton">Stage 1</button></td></tr>
<tr><td><button class="stageButton">Stage 1</button></td></tr>
</table>
{{message}}
