<style type="text/css">
#stagestbl {
	border:0px;width:100%;
}

#stagestbl td {
	cell-padding:0px;
	padding:0px;
	margin:0px;
}

#stagestbl button {
	width:100%;
	padding:0px;
	margin:0px;
	font-size:1.2em;
	color:#eee;
}
</style>
<!-- <strong style="font-size:2em;">{{flow.name}}</strong>-->
<table id="stagestbl">
<tr ng-repeat="stage in stages" height="{{stageBoxHeight}}"><td><button style="height:{{stageBoxHeight}}px; background-color:{{stage.stageColour}}" ng-Click="viewStage(stage.stageId)"><span style="font-size:2em;">{{stage.count}}</span><br/>{{stage.stageName}}</button></td></tr>
</table>
