<button id="stageViewBackButton">&lt; Stages</button>
<table id="stageview" border="1">
<tr><th>Stage</th>
<th ng-Repeat="field in fields | filter:{display:'yes'}">
{{field.fieldName}}
</th></tr>



<tr ng-Repeat="client in crm | filter:{stageId : selectedStageId}">
<td>
<select ng-Model="client.stageId">
<option ng-Repeat="stage in stages" value="{{stage.stageId}}" ng-Selected="client.stageId == stage.stageId">{{stage.stageName}}</option>
</select>
</td>
<td ng-Repeat="field in client.fields">{{field}}</td>
</tr>
</table>
{{selectedStageId}}
{{visibleFieldIndexes}}
{{crm}}
{{stages}}