<style type="text/css">
#stageview {
	border-spacing:0;
    border-collapse:collapse;
}
#stageview td{
	border:1px solid rgb(230,230,230);
}
#stageview th{
	border:1px solid rgb(230,230,230);
}
#stagesviewquicktbl {
	border:0px;width:100%;
}

#stagesviewquicktbl td {
	cell-padding:0px;
	padding:0px;
	margin:0px;
}

#stagesviewquicktbl button {
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	color:#eee;
	margin-bottom:10px;
}

.btnOpenBox {
	margin:0px;
	padding:0px;
}

.tdOpenBoxBtnContainer {
	margin:0px;
	width:0.5em;
}
</style>
<table id="stagesviewquicktbl">
<tr>
	<td ng-repeat="stage in stages"><button style="height:{{stageBoxHeight}}px; background-color:{{stage.stageColour}}" ng-Click="viewStage(stage.stageId)"><span style="font-size:2em;">{{stage.count}}</span><br/>{{stage.stageName}}</button></td>
</tr>
</table>
<table id="stageview" width="100%">
<tr><th>Stage</th>
<th ng-Repeat="field in fields | filter:{display:'yes'}">
{{field.fieldName}}
</th>
<th></th>
</tr>



<tr ng-Repeat="client in crm | filter:{stageId : selectedStageId}">
<td>
<select ng-Model="client.stageId" ng-Change="refreshStageCount()" style="width:100%;">
<option ng-Repeat="stage in stages" value="{{stage.stageId}}" ng-Selected="client.stageId == stage.stageId">{{stage.stageName}}</option>
</select>
</td>
<td ng-Repeat="field in client.fields | indexInSet:visibleFieldIndexes" ng-Click="openBox(client.id)">{{field}}</td>
<td class="tdOpenBoxBtnContainer"><button ng-Click="openBox(client.id)" class="btnOpenBox">&gt;</button></td>
</tr>
</table>
<hr />
<button ng-Click="addBox(-99)">New...</button>